# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/

# FastAPI
*.db

# Node
node_modules/
dist/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS
.DS_Store

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
